body,
html,
#root {
  height: 100%;
  line-height: 1.4rem;
  background-image: url("../imgs/backgroud.png");
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.App {
  display: flex;
  margin: auto;
  height: 100%;
  .main-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    min-height: 80%;
    height: auto;
    min-height: 630px;

    background: #ededed;
    border: 1px black solid;
    border-radius: 5px;
    margin: auto;
    padding: 25px 55px;

    .question-container {
      color: #000;
      width: 100%;
      .question-header {
        background-color: #d1d1d1;
        padding: 4rem 5.5rem;
        width: 100%;

        border: 1px solid #d0d0d0;
        border-radius: 2%;

        text-align: center;
        font-size: 2em;
      }
    }
    .answers-container {
      display: grid;
      width: 100%;
      grid-template-columns: 20% 60% 20%;
      justify-items: center;
      align-items: center;
      max-height: 380px;
      .answers-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        .answer-label {
          display: block;
          align-self: flex-start;
          justify-self: start;
          padding: 10px 4px;
          margin: 8px 7px;
          width: 100%;
          // max-width: 520px;
          min-width: 11rem;
          user-select: none;

          color: #000;
          font-size: 1.5em;
          &:hover {
            background: #e1e1e1;
          }

          &:active {
            background: #30ff30;
          }
        }
      }
    }
  }
}
* {
  padding: 5px;
  margin: 2px;
}

.justify-left {
  justify-self: start;
}

.self-justify-right {
  justify-self: end;
}
.arrow {
  display: inline-block;
  position: relative;
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 30px;
  background-color: transparent;
  &:active {
    background: #d0d0d0;
  }
}
.left-arrow {
  transform: rotate(135deg);
}
.right-arrow {
  transform: rotate(-45deg);
}

@media (min-width: 1080px) {
  .main-area {
    width: 1300px;
    font-size: 18px;
  }
}
@media (max-width: 1080px) {
  .main-area {
    width: 550px;
    font-size: 14px;
  }

  @media (max-width: 540px) {
    .main-area {
      width: 300px;
      font-size: 10px;
      .arrow {
        border-width: 0 7px 7px 0;
        padding: 20px;
        position: relative;
      }
      .left-arrow {
        right: 35px;
      }
      .right-arrow {
        left: 35px;
      }
    }
  }
}
