#main-page-controller {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 30% 20% 40% 10%;
  grid-template-areas: ". H H A" "S . M M" "S . M M" "S . M M";
  row-gap: 5px;
  margin: 5px 25px 5px 5px;
  #my-subjects {
    grid-area: S;
  }
  #make-quiz {
    grid-area: M;
    color: black;
    #question-adding {
      height: 100%;
      width: 60%;
      border: 1px solid #dedede;
      margin: 15px 5px;
      form {
        width: 70%;
        .custom-text-area {
          height: 4rem;
          overflow-y: scroll;
        }
        input[type="text"],
        textarea {
          width: 70%;
        }
      }
    }
    #question-holder {
      width: 32%;
      height: 100%;
      padding: 5px 10px;
      background: #ededed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: 1px solid #dedede;
    }

    .question {
      font-size: 1.3rem;
      padding: 9px 4px;

      border: 1px dotted #555;
      border-radius: 4%;
      .question-header {
        font-size: 1.5rem;
        padding: 3px;
      }
      .answer-item {
        padding: 2px;
      }
    }
    #answer-holder {
      height: 100%;
      width: 30%;
      max-height: 20rem;
      overflow-y: auto;
      overflow-x: hidden;
      .answer-label {
        width: 100%;
        margin: 4px 4px;
        padding: 15px 7px;
      }
      .answer-checkbox {
        margin: 15px 7px;
      }
    }
    .submit-button-holder {
      margin: 25px 7px;
    }
  }
  #auth {
    grid-area: A;
    display: flex;
    font-size: 1.5rem;
    background: #eee;
    color: black;
    align-items: center;
    justify-content: center;
    height: 50%;
    &:hover {
      background: #ddd;
    }
  }
  #header {
    grid-area: H;
  }
  .input-group {
    width: 8rem;
    height: 1.4rem;
  }
  * {
    font-size: inherit;
  }
}

@media (min-height: 700px) {
  #main-page-controller {
    min-height: 720px;
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  #main-page-controller {
    min-width: 350px;
    // font-size: 12px;
    grid-template-areas: "H" "A" "M" "S";
    grid-template-columns: 1fr;
  }
}

@media (max-height: 500px) {
  #main-page-controller {
    min-height: 550px;
  }
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}
