body,
html,
#root {
  height: 100%;
  line-height: 1.4rem;
  background-image: url("../imgs/backgroud.png");
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  margin: auto;
  height: 100%;
  .main-area {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80%;

    border: 1px black solid;
    border-radius: 5px;
    margin: auto;
    padding: 25px 55px;

    .question-container {
      color: #000;
      .question-header {
        background-color: #d1d1d1;
        padding: 4rem 7rem;
        width: 100%;

        border: 1px solid #d0d0d0;
        border-radius: 2%;

        text-align: center;
        font-size: 32px;
        font-family: "Scope One";
      }
    }
    .answers-container {
      display: grid;
      width: 100%;
      grid-template-columns: 20% 60% 20%;
      justify-items: center;
      align-items: center;

      .answers-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        .answer-label {
          display: block;
          align-self: flex-start;
          justify-self: start;
          padding: 10px 4px;
          margin: 12px 7px;
          width: 100%;
          // max-width: 520px;
          min-width: 11rem;
          user-select: none;

          color: #000;
          font-size: 22px;
          &:hover {
            background: #e1e1e1;
          }

          &:active {
            background: #30ff30;
          }
        }
      }
    }
  }
}
* {
  padding: 5px;
  margin: 2px;
}

.justify-left {
  justify-self: start;
}

.self-justify-right {
  justify-self: end;
}
.arrow {
  display: inline-block;
  position: relative;
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 30px;
  background-color: transparent;
  &:active {
    background: #d0d0d0;
  }
}
.left-arrow {
  transform: rotate(135deg);
}
.right-arrow {
  transform: rotate(-45deg);
}

@media (min-width: 1080px) {
  .main-area {
    width: 1300px;
  }
}
@media (max-width: 1080px) {
  .main-area {
    width: 650px;
  }
}
